* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
}

*:focus {
    outline: 0;
}

.container {
    display: flex;
    flex-direction: column;
    // margin-top: 100px;
    max-width: 800px;
    margin: 100px auto 0 auto;

    h1 {
        margin: auto;
        text-transform: uppercase;
    }

    .btn {
        margin: auto;
        margin-top: 50px;
        display: flex;

        button {
            margin: 30px;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: bolder;
            border-radius: 140px;
            border-style: solid;
            background-color: white;
            border-color: greenyellow;
            transition: .2s;

            &:hover {
                border-color: greenyellow;
                background-color: greenyellow;
            }
        }
    }

    .msg {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        font-size: 30px;
        margin-top: 50px;

        div:nth-child(2) {
            font-weight: bolder;
            margin-top: 30px;
            margin-bottom: -190px;
            text-align: center;
        }
    }

    .scores {
        display: flex;

        margin-top: 200px;

        .trick {
            margin: auto;
            text-align: center;
            width: 33%;

            p {
                font-size: 40px;
                font-weight: bolder;
            }
        }
    }

    .sp-vortex {
        display: none;
        width: 80px;
        height: 80px;
        margin: 50px auto 0 auto;

        &:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid rgb(224, 19, 19);
            border-color: rgb(197, 32, 32) transparent rgb(204, 26, 26) transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(460deg);
        }
    }
    
    
}

.log {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top:75vh;
    left: 0;
    width: 50%;
    transform: translateX(50%);
    button {
        margin-left: 50px;
        // margin-bottom: 0;
        width: 3%;
        height: 5%;
        transform: rotate(90deg);
        background-color: silver;
        border-style: none;
        // padding: 0;
    }
    .num-of-games{
        width: 15%;
    }
    .log-display {
        width: 100%;
       
        padding: 50px 0;
      
        background-color: rgb(119, 213, 240);
        margin-top: 20px;
      
        display: none;
        p{
            text-align: center;
        }
}}